
<h1>Employees data from API</h1>
<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Name</th>
                <th scope="col">Salary</th>
                <th scope="col">Age</th>
                
            </tr>
        </thead>
      
    </table>
</div>

<footer class="fixed-bottom text-center">
    <p>Author: Shiva<br>
        <a href=" # ">siva.lomada@mpokket.com</a></p>
    <p>Edureka Assignment 5</p>
</footer>
